.landing-page-child {
  position: absolute;
  height: 11.71%;
  width: 17.57%;
  top: 6.73%;
  right: 17.99%;
  bottom: 81.56%;
  left: 64.44%;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.landing-page-item {
  height: 13.35%;
  width: 21.46%;
  top: 14.5%;
  right: -3.26%;
  bottom: 72.15%;
  left: 81.81%;
  border-radius: 50%;
}
.ellipse-icon,
.landing-page-child1,
.landing-page-inner,
.landing-page-item {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.landing-page-inner {
  height: 13.35%;
  width: 20.9%;
  top: 26.21%;
  right: 0.97%;
  bottom: 60.44%;
  left: 78.13%;
  border-radius: 50%;
}
.ellipse-icon,
.landing-page-child1 {
  height: 12.71%;
  width: 18.96%;
  top: 5.68%;
  right: 0;
  bottom: 81.61%;
  left: 81.04%;
}
.landing-page-child1 {
  height: 14.05%;
  width: 23.26%;
  top: 18.39%;
  right: 16.94%;
  bottom: 67.56%;
  left: 59.79%;
  border-radius: 50%;
}
.data-visualisations {
  position: absolute;
  top: 64.32%;
  left: 3.68%;
}
.rectangle-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: #d9d9d9;
  position: absolute;
  top: 2454px;
  left: 1646px;
  width: 146px;
  height: 75px;
}
.image-5-icon {
  position: absolute;
  height: 5.68%;
  width: 28.89%;
  top: 0;
  right: 71.11%;
  bottom: 94.32%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.group-child7,
.sign-in8 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.group-child7 {
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-200);
}
.sign-in8 {
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  cursor: pointer;
}
.ggprofile-icon3,
.sign-in7 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
}
.sign-in7 {
  width: 69.01%;
  right: 0;
  left: 30.99%;
  cursor: pointer;
}
.ggprofile-icon3 {
  width: 20.99%;
  right: 79.01%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.data-insights4,
.group-button,
.premium-plan3,
.questionnaire3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
}
.group-button {
  height: 97.06%;
  width: 18%;
  top: 2.94%;
  right: 0;
  bottom: 0;
  left: 82%;
}
.data-insights4,
.premium-plan3,
.questionnaire3 {
  height: 88.24%;
  width: 22.63%;
  top: 0;
  left: 46.42%;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
}
.data-insights4:hover {
  color: var(--color-gray-100);
}
.data-insights4:active {
  color: var(--color-indianred-200);
}
.premium-plan3,
.questionnaire3 {
  left: 22.63%;
}
.questionnaire3:hover {
  color: var(--color-gray-100);
}
.questionnaire3:active {
  color: var(--color-firebrick);
}
.premium-plan3 {
  left: 0;
}
.premium-plan3:hover {
  color: var(--color-gray-100);
}
.premium-plan3:active {
  color: var(--color-indianred-200);
}
.group-parent3 {
  position: absolute;
  height: 29.82%;
  width: 92.77%;
  top: 35.09%;
  right: 2.73%;
  bottom: 35.09%;
  left: 4.49%;
}
.rectangle-parent3 {
  position: absolute;
  height: 5.68%;
  width: 71.11%;
  top: 0;
  right: 0;
  bottom: 94.32%;
  left: 28.89%;
}
.group-icon {
  position: absolute;
  width: 25.97%;
  top: 1376px;
  right: 70.35%;
  left: 3.68%;
  max-width: 100%;
  overflow: hidden;
  height: 405px;
  object-fit: cover;
}
.cyber-security {
  margin-block-start: 0;
  margin-block-end: 14px;
  white-space: pre-wrap;
}
.without-a-robust {
  margin: 0;
}
.cyber-security-enables-container {
  position: absolute;
  height: 13.46%;
  width: 53.7%;
  top: 18.39%;
  left: 3.61%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  transform: rotate(-0.2deg);
  transform-origin: 0 0;
}
.we-offer-detailed {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.we-offer-detailed-container {
  position: absolute;
  height: 15.55%;
  width: 61.75%;
  top: 68.67%;
  left: 33.47%;
  font-size: var(--font-size-13xl);
  display: inline-block;
  transform: rotate(-0.2deg);
  transform-origin: 0 0;
}
.click-here-to,
.discover-your-perfect,
.first-complete-the {
  position: absolute;
  height: 6.31%;
  width: 66.02%;
  top: 42.63%;
  left: 5.35%;
  display: inline-block;
  transform: rotate(-0.2deg);
  transform-origin: 0 0;
}
.click-here-to,
.discover-your-perfect {
  height: 6.7%;
  width: 59.45%;
  top: 9.28%;
  left: 3.26%;
}
.click-here-to {
  height: 44.66%;
  width: 82.51%;
  top: 28.64%;
  left: 0;
}
.click-here-to:hover {
  color: #c2bdbd;
}
.ant-designform-outlined-icon {
  position: absolute;
  height: 100%;
  width: 19.93%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 80.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ant-designform-outlined-icon:hover {
  background-color: #a69e9e;
}
.click-here-to-complete-the-que-parent {
  position: absolute;
  height: 5.88%;
  width: 56.81%;
  top: 50.47%;
  right: 38.68%;
  bottom: 43.65%;
  left: 4.51%;
  cursor: pointer;
  font-size: var(--font-size-13xl);
}
.find-out-more {
  position: absolute;
  height: 100%;
  width: 80.68%;
  top: 0;
  left: 0;
  font-size: var(--font-size-13xl);
  font-family: var(--font-inter);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
}
.find-out-more:hover {
  color: #bbb;
}
.makiarrow-icon {
  position: absolute;
  height: 63.04%;
  width: 15.91%;
  top: 19.57%;
  right: 0;
  bottom: 17.39%;
  left: 84.09%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.find-out-more-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  height: 2.29%;
  width: 18.33%;
  top: 86.45%;
  right: 4.65%;
  bottom: 11.26%;
  left: 77.01%;
}
.landing-page-inner1,
.rectangle-wrapper1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.landing-page-inner1 {
  height: 9.72%;
  top: 90.28%;
}
.contact-us-email-container3,
.products-prod1-prod2-container3 {
  position: absolute;
  height: 31.62%;
  width: 8.63%;
  top: 0.21%;
  left: 0;
  display: inline-block;
}
.products-prod1-prod2-container3 {
  height: 31.41%;
  width: 5.49%;
  left: 13.76%;
}
.data-visualisation-graphs-container3,
.resources-r1-r2-container3 {
  position: absolute;
  height: 25.28%;
  width: 7.48%;
  top: 0;
  left: 22.39%;
  display: inline-block;
}
.resources-r1-r2-container3 {
  height: 22.11%;
  width: 4.34%;
  top: 0.21%;
  left: 34.45%;
}
.group-child9 {
  position: absolute;
  height: 8.24%;
  width: 11.4%;
  top: 91.76%;
  right: 0;
  bottom: 0;
  left: 88.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.cybersecurity-aaa-bbb-ccc-xxx3 {
  position: absolute;
  height: 28.45%;
  width: 5.97%;
  top: 0.21%;
  left: 43.92%;
  display: inline-block;
}
.landing-page-inner2 {
  position: absolute;
  height: 7.08%;
  width: 97.22%;
  top: 91.58%;
  right: 0.14%;
  bottom: 1.35%;
  left: 2.64%;
  font-size: var(--font-size-xs);
  color: var(--color-white);
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2007px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-26xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
